body{
  padding:20px;
}
.search{
  margin-left:10px;
}

.desc,
.asc {
  cursor: pointer;
}

.desc:after,
.asc:after {
  color: #0088CC;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  visibility: hidden;
}

.desc.active:after,
.asc.active:after {
  visibility: visible;
}

.desc:after {
  content: '\25bc';
}
.asc:after {
  content: '\25b2';
}